$themes: (
        'light': (
                color: (
                        'white': hsla(0, 0%, 100%, 1),
                        'black:': hsla(0, 0%, 0%, 1),
                ),
                'gray':
                (
                        025: hsla(210, 20%, 99%, 1),
                        050: hsla(210, 24%, 98%, 1),
                        100: hsla(220, 22%, 96%, 1),
                        200: hsla(220, 17%, 93%, 1),
                        300: hsla(216, 16%, 84%, 1),
                        400: hsla(218, 15%, 65%, 1),
                        500: hsla(220, 13%, 46%, 1),
                        600: hsla(215, 18%, 34%, 1),
                        700: hsla(217, 23%, 27%, 1),
                        800: hsla(215, 32%, 17%, 1),
                        900: hsl(220, 43%, 11%, 1),
                ),
                primary: (
                        025: hsl(219, 100%, 96%),
                        050: hsl(218, 100%, 92%),
                        100: hsl(218, 100%, 88%),
                        200: hsl(217, 100%, 81%),
                        300: hsl(218, 100%, 73%),
                        400: hsl(218, 100%, 65%),
                        500: hsl(218, 100%, 58%),
                        600: hsl(217, 72%, 48%),
                        700: hsl(217, 72%, 37%),
                        800: hsl(218, 72%, 26%),
                        900: hsl(218, 71%, 16%),
                ),
                secondary: (
                        025: hsla(210, 100%, 98%, 1),
                        050: hsla(206, 100%, 97%, 1),
                        100: hsla(209, 100%, 91%, 1),
                        200: hsla(206, 100%, 85%, 1),
                        300: hsla(206, 100%, 76%, 1),
                        400: hsla(207, 98%, 66%, 1),
                        500: hsla(211, 95%, 58%, 1),
                        600: hsla(215, 87%, 51%, 1),
                        700: hsla(218, 80%, 46%, 1),
                        800: hsla(220, 75%, 38%, 1),
                        900: hsla(218, 68%, 31%, 1),
                ),
                error: (
                        025: hsla(4, 88%, 99%, 1),
                        050: hsla(4, 88%, 97%, 1),
                        100: hsla(4, 95%, 94%, 1),
                        200: hsla(4, 98%, 89%, 1),
                        300: hsla(4, 96%, 80%, 1),
                        400: hsla(4, 93%, 69%, 1),
                        500: hsla(4, 86%, 58%, 1),
                        600: hsla(4, 74%, 49%, 1),
                        700: hsla(4, 76%, 40%, 1),
                        800: hsla(4, 72%, 33%, 1),
                        900: hsla(8, 65%, 29%, 1),
                ),
                warning: (
                        025: hsla(44, 100%, 98%, 1),
                        050: hsla(44, 100%, 96%, 1),
                        100: hsla(44, 98%, 89%, 1),
                        200: hsla(44, 99%, 77%, 1),
                        300: hsla(42, 99%, 65%, 1),
                        400: hsla(39, 98%, 56%, 1),
                        500: hsla(34, 94%, 50%, 1),
                        600: hsla(28, 97%, 44%, 1),
                        700: hsla(22, 92%, 37%, 1),
                        800: hsla(19, 84%, 31%, 1),
                        900: hsla(18, 80%, 26%, 1),
                ),
                success: (
                        025: hsla(144, 83%, 98%, 1),
                        050: hsla(144, 83%, 96%, 1),
                        100: hsla(141, 82%, 90%, 1),
                        200: hsla(144, 78%, 80%, 1),
                        300: hsla(148, 74%, 67%, 1),
                        400: hsla(150, 66%, 52%, 1),
                        500: hsla(152, 82%, 39%, 1),
                        600: hsla(153, 96%, 30%, 1),
                        700: hsla(155, 96%, 24%, 1),
                        800: hsla(155, 90%, 20%, 1),
                        900: hsla(156, 88%, 16%, 1),
                ),
        ),
        'dark': (
                'gray': (
                        100: hsla(0, 0%, 25%, 1),
                        200: hsla(0, 0%, 75%, 1),
                        300: hsla(0, 0%, 63%, 1),
                        400: hsla(0, 0%, 51%, 1),
                        500: hsla(0, 0%, 38%, 1),
                        600: hsla(0, 0%, 88%, 1),
                ),
        ),
);

$rgb: (
        "white": (255, 255, 255),
        "black": (0, 0, 0),
        ligth: (255, 255, 255),
        dark: (52, 64, 84),
        "gray": (16, 24, 40),


);
